.app-container {
	background: #c9c9c9;
	border: 2px solid black;
	font-size: var(--stroke);
	nav {
		padding: 10px 20px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
		.active {
			color: coral;
		}
	}
}

.dark-theme {
	background: #000;
	color: #fff;
}
.light-theme {
	background: #fff;
	color: #000;
}
